# Dependency directories
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp

.turbo/

# Build artifacts
build/
coverage/

# Miscellaneous
.DS_Store
Thumbs.db

.devcontainer/
**/tests/artifacts