{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "npmPublish": true, 
  "tarballDir": "dist",
  "npmPublishArgs": "--access public"
}